@using Microsoft.AspNetCore.Identity
@using WebClinic.Data.Models
@inject SignInManager<User> signInManager

@if (signInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Админ"))
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="AdminReport" asp-action="GenerateReport">Отчет</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="AdminService" asp-action="Index">Услуги</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="AdminUser" asp-action="Index">Пользователи</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="AdminDoctor" asp-action="Index">Врачи</a>
        </li>
    }

    else if (User.IsInRole("Доктор"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Appointment" asp-action="GetMyPatients">Пациенты</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="DoctorService" asp-action="Index">Мои услуги</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Schedule" asp-action="Index">Мой график</a>
        </li>
    }

    else if (User.IsInRole("Пациент"))
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Schedule" asp-action="GetAvailableDates">Записаться на прием</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Appointment" asp-action="GetMyAppointments">Мои записи</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="MedicalCard" asp-action="GetMyMedicalCard">Мед. карта</a>
        </li>
    }

    else if (User.IsInRole("Гость"))
    {
        <li class="nav-item">
            <a class="btn btn-primary" asp-controller="Patient" asp-action="Create">Оформить профиль пациента</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout">Выйти</a>
    </li>
}

else
{

    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Войти</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Регистрация</a>
    </li>
}
