@model WebClinic.Data.ViewModels.User.EditUserViewModel;

@{
    ViewData["Title"] = "Редактирование пользователя";
    ViewData["HideGreeting"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">

    <h2 class="form-title">@ViewData["Title"]</h2>
    
    <div class="form-box">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label for="LastName">Фамилия</label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="FirstName">Имя</label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="MiddleName">Отчество</label>
                <input type="text" asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Email">Почта</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-btn">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Отмена</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}