@model WebClinic.Data.ViewModels.Service.CreateServiceViewModel;

@{
    ViewData["Title"] = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-container">

    <h2 class="form-title">Добавление услуги</h2>
    
    <div class="form-box">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="ServiceName" class="form-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Cabinet" class="form-label"></label>
                <input asp-for="Cabinet" class="form-control" />
                <span asp-validation-for="Cabinet" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Cost" class="form-label"></label>
                <input asp-for="Cost" class="form-control type="number" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" asp-items="ViewBag.Doctors" class="form-control">
                    <option value="">Выберите врача</option>
                </select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            
            <div class="form-btn">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a href="@Url.Action("Index", "Service")" class="btn btn-secondary">Отмена</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}